body {
    font-family: 'Montserrat', sans-serif;
}

.inner-form .input-field.second-wrap .btn-search:hover {
    background: #e74c3c;
}

.inner-form .input-field.second-wrap .btn-search:focus {
    outline: 0;
    box-shadow: none;
}

.icon-check {
    color: #e74c3c;
    margin-right: 6px;
}

#error {
    display: none;
}